<html>
<h1>About</h1>
<h3>What is Project Handrail?</h3>
<p>Project Handrail is skating and snowboarding community where users can post locations of some of there favorite locations to shred!</p><br>
<h3>What features does it have?</h3>
<p>A rating system, fully integrated Google Maps application, and a store.</p><br>
<h3>What does it cost?</h3>
<p>Nothing, thanks to cheap hardware. This site is easy to maintain.</p><br>
<h3>How did you make this awesome site?</h3>
<p>With Ruby on Rails</p>
</html>
