<footer class="footer">
  <small>
    Made with
    <a href="http://rubyonrails.org/">Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>
